        <div class="row-fluid" id="footer">
          <div class="span12">
            <p id="index-copyright-bar-text-1">
              &copy; Copyright 2013 Palm Valley Software
            </p>
          </div>
        </div>
      </div>

    </div> <!-- /container -->

<script src="/bootstrap/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/js/showdown/compressed/showdown.js"></script>
<script src="/js/ace-editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/site.js?a=1"></script>
<!-- http://softwaremaniacs.org/media/soft/highlight/test.html -->
<script src="/js/highlight/highlight.pack.js"></script>

  </body>
</html>
